In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

url='https://testiws.ximad.com/export/events.csv.gz'

import requests

In [2]:
urllib.request.urlretrieve(url, "event.csv.gz")

('event.csv.gz', <http.client.HTTPMessage at 0x1db1a7d1970>)

In [3]:
df=pd.read_csv('event.csv.gz')
df.head(10)

            event_time   event_name           user_id  event_value
0  2021-09-29 17:58:14   game_start  9586e17375389649          NaN
1  2021-09-23 16:02:12  game_finish  201bf35f4bb535fd          NaN
2  2021-09-25 09:58:37  game_finish  700eeb451fbf5197          NaN
3  2021-09-15 20:46:00   game_start  df651b8bdd042fd6          NaN
4  2021-09-09 22:22:06  game_finish  e84c3f343a5a66df          NaN
5  2021-09-08 15:04:49   game_start  059719ab42b98ee8          NaN
6  2021-09-22 21:10:35  game_finish  d768e0fb37415e08          NaN
7  2021-09-20 23:30:23   game_start  c0c9abcdc67fea24          NaN
8  2021-09-22 13:46:08       launch  2ab5fe2d460ee3ba          NaN
9  2021-09-19 15:33:55   game_start  3b75ce12ff0ff6ac          NaN

In [4]:
df[df['event_name']=='launch'].head(10)

             event_time event_name           user_id  event_value
8   2021-09-22 13:46:08     launch  2ab5fe2d460ee3ba          NaN
11  2021-09-16 11:27:09     launch  735bef201e386609          NaN
24  2021-09-15 10:20:47     launch  25099db89c6bb14c          NaN
28  2021-09-10 17:57:14     launch  2ac793ccd5361113          NaN
32  2021-09-12 17:39:48     launch  9ee48cdf83a4c0eb          NaN
33  2021-09-18 23:02:15     launch  02b54602890d4c19          NaN
34  2021-09-10 15:31:50     launch  e014237e4b374361          NaN
52  2021-09-20 14:51:40     launch  3f86a2fd93ac7f1b          NaN
58  2021-09-10 07:07:23     launch  0bb8df7154a42c46          NaN
64  2021-09-15 21:38:22     launch  4b1248cfd3e25f5c          NaN

In [5]:
df=df[(df['event_name']=='purchase') | (df['event_name']=='launch')]
df.head(10)

             event_time event_name           user_id  event_value
8   2021-09-22 13:46:08     launch  2ab5fe2d460ee3ba          NaN
11  2021-09-16 11:27:09     launch  735bef201e386609          NaN
24  2021-09-15 10:20:47     launch  25099db89c6bb14c          NaN
28  2021-09-10 17:57:14     launch  2ac793ccd5361113          NaN
32  2021-09-12 17:39:48     launch  9ee48cdf83a4c0eb          NaN
33  2021-09-18 23:02:15     launch  02b54602890d4c19          NaN
34  2021-09-10 15:31:50     launch  e014237e4b374361          NaN
52  2021-09-20 14:51:40     launch  3f86a2fd93ac7f1b          NaN
58  2021-09-10 07:07:23     launch  0bb8df7154a42c46          NaN
64  2021-09-15 21:38:22     launch  4b1248cfd3e25f5c          NaN

In [6]:
df=df.fillna(0).reset_index(drop=True)

In [7]:
df.columns

Index(['event_time', 'event_name', 'user_id', 'event_value'], dtype='object')

In [8]:
df['event_time']=df['event_time'].apply(lambda x: x.split(' ')[0])

In [28]:
len_launch_un_users=len(df[df['event_name']=='launch']['user_id'].unique())
len_launch_un_users

27936

In [31]:
df[df['event_name']=='purchase']['event_value'].sum()/len_launch_un_users

0.962557273768614