In [1]:
import psycopg2
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

df=pd.read_csv('event.csv.gz')
df.head(10)

            event_time   event_name           user_id  event_value
0  2021-09-29 17:58:14   game_start  9586e17375389649          NaN
1  2021-09-23 16:02:12  game_finish  201bf35f4bb535fd          NaN
2  2021-09-25 09:58:37  game_finish  700eeb451fbf5197          NaN
3  2021-09-15 20:46:00   game_start  df651b8bdd042fd6          NaN
4  2021-09-09 22:22:06  game_finish  e84c3f343a5a66df          NaN
5  2021-09-08 15:04:49   game_start  059719ab42b98ee8          NaN
6  2021-09-22 21:10:35  game_finish  d768e0fb37415e08          NaN
7  2021-09-20 23:30:23   game_start  c0c9abcdc67fea24          NaN
8  2021-09-22 13:46:08       launch  2ab5fe2d460ee3ba          NaN
9  2021-09-19 15:33:55   game_start  3b75ce12ff0ff6ac          NaN

In [2]:
df.to_csv('test.csv')