In [497]:
%reset

In [498]:
import pandas as pd

In [499]:
df_i=pd.read_excel('Task1_INPUT.xlsx')
df_i.head(10)

,Время активности,Имя активности,Длительность,ID вызова
0,2019-12-23 13:00:02.295,Прослушал Главное меню,37,788547601
1,2019-12-23 13:00:05.713,Прослушал Главное меню,46,788547602
2,2019-12-23 13:00:15.394,Прослушал Главное меню,10,788547607
3,2019-12-23 13:00:16.180,Прослушал Главное меню,26,788547607
4,2019-12-23 13:00:21.449,Кнопка 1 - Распределился на группу продаж,36,788547592
5,2019-12-23 13:00:23.410,Кнопка 1 - Распределился на группу продаж,52,788547585
6,2019-12-23 13:00:24.508,Прослушал Главное меню,36,788547612
7,2019-12-23 13:00:29.569,Кнопка 3 - Прослушал Главное Меню,42,788547598
8,2019-12-23 13:00:37.747,Кнопка 1 - Распределился на группу продаж,61,788547588
9,2019-12-23 13:00:39.838,Кнопка 1 - Распределился на группу продаж,37,788547601

In [500]:
df_i.shape

(736, 4)

In [501]:
df_i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Время активности  736 non-null    datetime64[ns]
 1   Имя активности    736 non-null    object
 2   Длительность      736 non-null    int64
 3   ID вызова         736 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 23.1+ KB

In [502]:
df_i.describe()

       Длительность     ID вызова
count    736.000000  7.360000e+02
mean      42.452446  7.885485e+08
std       27.268390  5.095077e+02
min        0.000000  7.885476e+08
25%       29.000000  7.885481e+08
50%       37.000000  7.885485e+08
75%       43.000000  7.885489e+08
max      179.000000  7.885494e+08

In [503]:
df_i.columns.to_list()

['Время активности', 'Имя активности', 'Длительность', 'ID вызова']

In [504]:
df_i['Имя активности'].describe()

count                        736
unique                        11
top       Прослушал Главное меню
freq                         341
Name: Имя активности, dtype: object

In [505]:
list(df_i['Имя активности'].unique())

['Прослушал Главное меню',
 'Кнопка 1 - Распределился на группу продаж',
 'Кнопка 3 - Прослушал Главное Меню',
 'Кнопка 3 - Распределился на оператора Группы Ипотеки',
 'Кнопка 4 - Голосовой помощник',
 'Кнопка 2 - Прослушал Главное Меню',
 'Кнопка 2 - Прослушал автоинформатор',
 'Повтор Главного меню',
 'Кнопка 2 - Распределился на оператора Поддержки',
 'Кнопка 3 - Распределился на оператора Группы Кредитов',
 'Кнопка 2 - Повтор Главного Меню']

In [506]:
for i in df_i['Имя активности'].unique():
    if 'Прослушал Главное меню'.lower() in i.lower():
        print(i)

Прослушал Главное меню
Кнопка 3 - Прослушал Главное Меню
Кнопка 2 - Прослушал Главное Меню

In [507]:
if 'Прослушал Главное меню' in 'Кнопка 3 - Прослушал Главное Меню':
    print(True)
p='Прослушал Главное меню'
a='Кнопка 3 - Прослушал Главное Меню'
import re
if re.search(a,p):
    print()
p='Прослушал Главное Меню'
a='Кнопка 3 - Прослушал Главное меню'
import re
if re.search(p.lower(),a.lower()):
    print("MEOW")

MEOW

In [508]:
df_i['Имя активности'][df_i['Имя активности']=='Прослушал Главное меню'].count()

341

In [509]:
df_i.head(5)

,Время активности,Имя активности,Длительность,ID вызова
0,2019-12-23 13:00:02.295,Прослушал Главное меню,37,788547601
1,2019-12-23 13:00:05.713,Прослушал Главное меню,46,788547602
2,2019-12-23 13:00:15.394,Прослушал Главное меню,10,788547607
3,2019-12-23 13:00:16.180,Прослушал Главное меню,26,788547607
4,2019-12-23 13:00:21.449,Кнопка 1 - Распределился на группу продаж,36,788547592

In [510]:
# df_i.agg(x=('Имя активности',max)).agg(x=('ID вызова','count'))

In [511]:
df_i[df_i['Имя активности']=='Прослушал Главное меню']

           Время активности          Имя активности  Длительность  ID вызова
0   2019-12-23 13:00:02.295  Прослушал Главное меню            37  788547601
1   2019-12-23 13:00:05.713  Прослушал Главное меню            46  788547602
2   2019-12-23 13:00:15.394  Прослушал Главное меню            10  788547607
3   2019-12-23 13:00:16.180  Прослушал Главное меню            26  788547607
6   2019-12-23 13:00:24.508  Прослушал Главное меню            36  788547612
..                      ...                     ...           ...        ...
727 2019-12-23 13:58:53.290  Прослушал Главное меню            37  788549366
728 2019-12-23 13:59:03.615  Прослушал Главное меню            28  788549371
729 2019-12-23 13:59:11.499  Прослушал Главное меню            37  788549375
733 2019-12-23 13:59:46.256  Прослушал Главное меню            30  788549393
735 2019-12-23 13:59:53.654  Прослушал Главное меню            43  788549396

[341 rows x 4 columns]

In [512]:
# df_i.groupby('Имя активности').agg({'Количество вызовов': 'count'})

In [513]:
df_i.groupby(['Имя активности', 'ID вызова'])\
    .agg({'Длительность': 'count'})

                                                     Длительность
Имя активности                            ID вызова
Кнопка 1 - Распределился на группу продаж 788547585             1
                                          788547588             1
                                          788547592             1
                                          788547601             1
                                          788547602             1
...                                                           ...
Прослушал Главное меню                    788549366             1
                                          788549371             1
                                          788549375             1
                                          788549393             1
                                          788549396             1

[667 rows x 1 columns]

In [514]:
import numpy as np
df_i['Количество вызовов']=0
df_i

,Время активности,Имя активности,Длительность,ID вызова,Количество вызовов
0,2019-12-23 13:00:02.295,Прослушал Главное меню,37,788547601,0
1,2019-12-23 13:00:05.713,Прослушал Главное меню,46,788547602,0
2,2019-12-23 13:00:15.394,Прослушал Главное меню,10,788547607,0
3,2019-12-23 13:00:16.180,Прослушал Главное меню,26,788547607,0
4,2019-12-23 13:00:21.449,Кнопка 1 - Распределился на группу продаж,36,788547592,0
...,...,...,...,...,...
731,2019-12-23 13:59:32.105,Кнопка 1 - Распределился на группу продаж,28,788549371,0
732,2019-12-23 13:59:39.060,Кнопка 2 - Распределился на оператора Поддержки,155,788549311,0
733,2019-12-23 13:59:46.256,Прослушал Главное меню,30,788549393,0
734,2019-12-23 13:59:48.399,Кнопка 1 - Распределился на группу продаж,37,788549375,0
735,2019-12-23 13:59:53.654,Прослушал Главное меню,43,788549396,0

In [515]:
df_i.groupby(['Имя активности']).agg({'Количество вызовов': 'count'})

                                                    Количество вызовов
Имя активности
Кнопка 1 - Распределился на группу продаж                          236
Кнопка 2 - Повтор Главного Меню                                      1
Кнопка 2 - Прослушал Главное Меню                                   18
Кнопка 2 - Прослушал автоинформатор                                 10
Кнопка 2 - Распределился на оператора Поддержки                      7
Кнопка 3 - Прослушал Главное Меню                                   41
Кнопка 3 - Распределился на оператора Группы Ип...                  35
Кнопка 3 - Распределился на оператора Группы Кр...                   2
Кнопка 4 - Голосовой помощник                                       23
Повтор Главного меню                                                22
Прослушал Главное меню                                             341

In [516]:
import numpy as np
df_i['Количество вызовов']=0
agg_df=df_i.groupby(['Имя активности']).agg({'Количество вызовов': 'count'})
agg_df

                                                    Количество вызовов
Имя активности
Кнопка 1 - Распределился на группу продаж                          236
Кнопка 2 - Повтор Главного Меню                                      1
Кнопка 2 - Прослушал Главное Меню                                   18
Кнопка 2 - Прослушал автоинформатор                                 10
Кнопка 2 - Распределился на оператора Поддержки                      7
Кнопка 3 - Прослушал Главное Меню                                   41
Кнопка 3 - Распределился на оператора Группы Ип...                  35
Кнопка 3 - Распределился на оператора Группы Кр...                   2
Кнопка 4 - Голосовой помощник                                       23
Повтор Главного меню                                                22
Прослушал Главное меню                                             341

In [517]:
agg_df.groupby(['Имя активности']).agg({'Количество вызовов': 'max'})

                                                    Количество вызовов
Имя активности
Кнопка 1 - Распределился на группу продаж                          236
Кнопка 2 - Повтор Главного Меню                                      1
Кнопка 2 - Прослушал Главное Меню                                   18
Кнопка 2 - Прослушал автоинформатор                                 10
Кнопка 2 - Распределился на оператора Поддержки                      7
Кнопка 3 - Прослушал Главное Меню                                   41
Кнопка 3 - Распределился на оператора Группы Ип...                  35
Кнопка 3 - Распределился на оператора Группы Кр...                   2
Кнопка 4 - Голосовой помощник                                       23
Повтор Главного меню                                                22
Прослушал Главное меню                                             341

In [518]:
agg_df=agg_df.T

In [519]:
agg_df['Кнопка 3 - Потеряно в Меню']=agg_df['Кнопка 3 - Прослушал Главное Меню']-agg_df['Кнопка 3 - Распределился на оператора Группы Ипотеки']-agg_df['Кнопка 3 - Распределился на оператора Группы Кредитов']
# agg_df['Cреднее время обработки вызова (секунды)']=df_i['Длительность'].sum()/len(df_i['ID вызова'].unique())

agg_df

Имя активности,Кнопка 1 - Распределился на группу продаж,Кнопка 2 - Повтор Главного Меню,Кнопка 2 - Прослушал Главное Меню,Кнопка 2 - Прослушал автоинформатор,Кнопка 2 - Распределился на оператора Поддержки,Кнопка 3 - Прослушал Главное Меню,Кнопка 3 - Распределился на оператора Группы Ипотеки,Кнопка 3 - Распределился на оператора Группы Кредитов,Кнопка 4 - Голосовой помощник,Повтор Главного меню,Прослушал Главное меню,Кнопка 3 - Потеряно в Меню
Количество вызовов,236,1,18,10,7,41,35,2,23,22,341,4

In [520]:
agg_df=agg_df.T
agg_df

                                                    Количество вызовов
Имя активности
Кнопка 1 - Распределился на группу продаж                          236
Кнопка 2 - Повтор Главного Меню                                      1
Кнопка 2 - Прослушал Главное Меню                                   18
Кнопка 2 - Прослушал автоинформатор                                 10
Кнопка 2 - Распределился на оператора Поддержки                      7
Кнопка 3 - Прослушал Главное Меню                                   41
Кнопка 3 - Распределился на оператора Группы Ип...                  35
Кнопка 3 - Распределился на оператора Группы Кр...                   2
Кнопка 4 - Голосовой помощник                                       23
Повтор Главного меню                                                22
Прослушал Главное меню                                             341
Кнопка 3 - Потеряно в Меню                                           4

In [521]:
agg_df['Количество вызовов'].max()

341

In [522]:
# agg_df['ПРОЦЕНТ']=agg_df['Количество вызовов']
agg_df=agg_df.astype(int)
agg_df['ПРОЦЕНТ']=agg_df['Количество вызовов'].apply(lambda x:100*(x/agg_df['Количество вызовов'].max()))

# agg_df['ПРОЦЕНТ']=agg_df['Количество вызовов'].apply(lambda x:str(int(100*(x/agg_df['Количество вызовов'].max())))+'%')
agg_df

,Количество вызовов,ПРОЦЕНТ
Имя активности,,
Кнопка 1 - Распределился на группу продаж,236,69.208211
Кнопка 2 - Повтор Главного Меню,1,0.293255
Кнопка 2 - Прослушал Главное Меню,18,5.278592
Кнопка 2 - Прослушал автоинформатор,10,2.932551
Кнопка 2 - Распределился на оператора Поддержки,7,2.052786
Кнопка 3 - Прослушал Главное Меню,41,12.023460
Кнопка 3 - Распределился на оператора Группы Ипотеки,35,10.263930
Кнопка 3 - Распределился на оператора Группы Кредитов,2,0.586510
Кнопка 4 - Голосовой помощник,23,6.744868
Повтор Главного меню,22,6.451613
Прослушал Главное меню,341,100.000000
Кнопка 3 - Потеряно в Меню,4,1.173021

In [495]:
agg_df.append(
    pd.Series((df_i['Длительность'].sum()/len(df_i['ID вызова'].unique()),None),
              index=agg_df.columns, name='Cреднее время обработки вызова (секунды)'))
# agg_df['Cреднее время обработки вызова (секунды)']=
# df_i['Длительность'].sum()/len(df_i['ID вызова'].unique())

,Количество вызовов,ПРОЦЕНТ
Имя активности,,
Кнопка 1 - Распределился на группу продаж,236.000000,69.0
Кнопка 2 - Повтор Главного Меню,1.000000,0.0
Кнопка 2 - Прослушал Главное Меню,18.000000,5.0
Кнопка 2 - Прослушал автоинформатор,10.000000,2.0
Кнопка 2 - Распределился на оператора Поддержки,7.000000,2.0
Кнопка 3 - Прослушал Главное Меню,41.000000,12.0
Кнопка 3 - Распределился на оператора Группы Ипотеки,35.000000,10.0
Кнопка 3 - Распределился на оператора Группы Кредитов,2.000000,0.0
Кнопка 4 - Голосовой помощник,23.000000,6.0
Повтор Главного меню,22.000000,6.0
Прослушал Главное меню,341.000000,100.0
Кнопка 3 - Потеряно в Меню,4.000000,1.0
Cреднее время обработки вызова (секунды),98.254717,NaN

In [524]:
agg_df.loc['Кнопка 3 - Потеряно в Меню']=agg_df.loc['Кнопка 3 - Прослушал Главное Меню']-agg_df.loc['Кнопка 3 - Распределился на оператора Группы Ипотеки']-agg_df.loc['Кнопка 3 - Распределился на оператора Группы Кредитов']
agg_df

,Количество вызовов,ПРОЦЕНТ
Имя активности,,
Кнопка 1 - Распределился на группу продаж,236.0,69.208211
Кнопка 2 - Повтор Главного Меню,1.0,0.293255
Кнопка 2 - Прослушал Главное Меню,18.0,5.278592
Кнопка 2 - Прослушал автоинформатор,10.0,2.932551
Кнопка 2 - Распределился на оператора Поддержки,7.0,2.052786
Кнопка 3 - Прослушал Главное Меню,41.0,12.023460
Кнопка 3 - Распределился на оператора Группы Ипотеки,35.0,10.263930
Кнопка 3 - Распределился на оператора Группы Кредитов,2.0,0.586510
Кнопка 4 - Голосовой помощник,23.0,6.744868
Повтор Главного меню,22.0,6.451613
Прослушал Главное меню,341.0,100.000000
Кнопка 3 - Потеряно в Меню,4.0,1.173021
Жопа,4.0,1.173021

In [163]:
tuples=[('Прослушал Главное меню','Кнопка 1 - Распределился на группу продаж'),
       ('Прослушал Главное меню','Кнопка 2 - Прослушал Главное Меню'),
        ('Прослушал Главное меню','Кнопка 2 - Прослушал Главное Меню','Кнопка 2 - Прослушал автоинформатор'),
        ('Прослушал Главное меню','Кнопка 2 - Прослушал Главное Меню','Кнопка 2 - Распределился на оператора Поддержки'),
        ('Прослушал Главное меню','Кнопка 2 - Прослушал Главное Меню','Кнопка 2 - Повтор Главного Меню'),

        ('Прослушал Главное меню','Кнопка 3 - Прослушал Главное Меню'),
        ('Прослушал Главное меню','Кнопка 3 - Прослушал Главное Меню','Кнопка 3 - Распределился на оператора Группы Ипотеки'),

        ('Прослушал Главное меню','Кнопка 3 - Прослушал Главное Меню','Кнопка 3 - Распределился на оператора Группы Кредитов'),
        ('Прослушал Главное меню','Кнопка 3 - Прослушал Главное Меню','Кнопка 3 - Потеряно в Меню'),
        ('Прослушал Главное меню','Кнопка 4 - Голосовой помощник'),
        ('Прослушал Главное меню','Повтор Главного меню')

]
ind=pd.MultiIndex.from_tuples(tuples)
test_df=pd.DataFrame(agg_df,index=ind).T
test_df['Cреднее время обработки вызова (секунды)']=[0,5]
test_df=test_df.T
test_df

                                                                                                                                      Количество вызовов  \
Прослушал Главное меню                   Кнопка 1 - Распределился на группу продаж NaN                                                               NaN
                                         Кнопка 2 - Прослушал Главное Меню         NaN                                                               NaN
                                                                                   Кнопка 2 - Прослушал автоинформатор                               NaN
                                                                                   Кнопка 2 - Распределился на оператора Поддержки                   NaN
                                                                                   Кнопка 2 - Повтор Главного Меню                                   NaN
                                         Кнопка 3 - Прослушал Главное Меню         NaN                                                               NaN
                                                                                   Кнопка 3 - Распределился на оператора Группы Ип...                NaN
                                                                                   Кнопка 3 - Распределился на оператора Группы Кр...                NaN
                                                                                   Кнопка 3 - Потеряно в Меню                                        NaN
                                         Кнопка 4 - Голосовой помощник             NaN                                                               NaN
                                         Повтор Главного меню                      NaN                                                               NaN
Cреднее время обработки вызова (секунды)                                                                                                               0

                                                                                                                                      ПРОЦЕНТ
Прослушал Главное меню                   Кнопка 1 - Распределился на группу продаж NaN                                                    NaN
                                         Кнопка 2 - Прослушал Главное Меню         NaN                                                    NaN
                                                                                   Кнопка 2 - Прослушал автоинформатор                    NaN
                                                                                   Кнопка 2 - Распределился на оператора Поддержки        NaN
                                                                                   Кнопка 2 - Повтор Главного Меню                        NaN
                                         Кнопка 3 - Прослушал Главное Меню         NaN                                                    NaN
                                                                                   Кнопка 3 - Распределился на оператора Группы Ип...     NaN
                                                                                   Кнопка 3 - Распределился на оператора Группы Кр...     NaN
                                                                                   Кнопка 3 - Потеряно в Меню                             NaN
                                         Кнопка 4 - Голосовой помощник             NaN                                                    NaN
                                         Повтор Главного меню                      NaN                                                    NaN
Cреднее время обработки вызова (секунды)                                                                                                    5

In [164]:
test_df['Количество вызовов']

Прослушал Главное меню                    Кнопка 1 - Распределился на группу продаж  NaN                                                      NaN
                                          Кнопка 2 - Прослушал Главное Меню          NaN                                                      NaN
                                                                                     Кнопка 2 - Прослушал автоинформатор                      NaN
                                                                                     Кнопка 2 - Распределился на оператора Поддержки          NaN
                                                                                     Кнопка 2 - Повтор Главного Меню                          NaN
                                          Кнопка 3 - Прослушал Главное Меню          NaN                                                      NaN
                                                                                     Кнопка 3 - Распределился на оператора Группы Ипотеки     NaN
                                                                                     Кнопка 3 - Распределился на оператора Группы Кредитов    NaN
                                                                                     Кнопка 3 - Потеряно в Меню                               NaN
                                          Кнопка 4 - Голосовой помощник              NaN                                                      NaN
                                          Повтор Главного меню                       NaN                                                      NaN
Cреднее время обработки вызова (секунды)                                                                                                        0
Name: Количество вызовов, dtype: object

In [165]:
df_i.groupby('Имя активности').agg({'Количество вызовов': 'count'}).reset_index()

                                       Имя активности  Количество вызовов
0           Кнопка 1 - Распределился на группу продаж                 236
1                     Кнопка 2 - Повтор Главного Меню                   1
2                   Кнопка 2 - Прослушал Главное Меню                  18
3                 Кнопка 2 - Прослушал автоинформатор                  10
4     Кнопка 2 - Распределился на оператора Поддержки                   7
5                   Кнопка 3 - Прослушал Главное Меню                  41
6   Кнопка 3 - Распределился на оператора Группы И...                  35
7   Кнопка 3 - Распределился на оператора Группы К...                   2
8                       Кнопка 4 - Голосовой помощник                  23
9                                Повтор Главного меню                  22
10                             Прослушал Главное меню                 341

In [208]:
df_o=pd.read_excel('Task1_OUTPUT.xlsx',header=[0,1,2,3,4],)
# df_o=pd.read_excel('Task1_OUTPUT.xlsx',header=None)
df_o

                                    МЕТРИКА  \
                     Прослушал Главное меню
                         Unnamed: 0_level_2
                         Unnamed: 0_level_3
                         Unnamed: 0_level_4
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       NaN
8  Cреднее время обработки вызова (секунды)

                                             \

  Кнопка 1 - Распределился на группу продаж
          Кнопка 2 - Прослушал Главное Меню
                         Unnamed: 1_level_4
0                                       NaN
1                                       NaN
2         Кнопка 3 - Прослушал Главное Меню
3                                       NaN
4                                       NaN
5                                       NaN
6             Кнопка 4 - Голосовой помощник
7                      Повтор Главного меню
8                                       NaN

                                                     КОЛИЧЕСТВО ВЫЗОВОВ  \
                                                     Unnamed: 3_level_1
                                                     Unnamed: 3_level_2
                                                     Unnamed: 3_level_3
                 Кнопка 2 - Прослушал автоинформатор Unnamed: 3_level_4
0    Кнопка 2 - Распределился на оператора Поддержки                NaN
1                    Кнопка 2 - Повтор Главного Меню                NaN
2                                                NaN                NaN
3  Кнопка 3 - Распределился на оператора Группы И...                NaN
4  Кнопка 3 - Распределился на оператора Группы К...                NaN
5                         Кнопка 3 - Потеряно в Меню                0.0
6                                                NaN                NaN
7                                                NaN                NaN
8                                                NaN                NaN

  ПРОЦЕНТ
      NaN
      NaN
      NaN
      NaN
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN

In [167]:
df_o.columns.to_list()

[('МЕТРИКА',
  'Прослушал Главное меню',
  'Unnamed: 0_level_2',
  'Unnamed: 0_level_3',
  'Unnamed: 0_level_4'),
 ('МЕТРИКА',
  'Прослушал Главное меню',
  'Кнопка 1 - Распределился на группу продаж',
  'Кнопка 2 - Прослушал Главное Меню',
  'Unnamed: 1_level_4'),
 ('МЕТРИКА',
  'Прослушал Главное меню',
  'Кнопка 1 - Распределился на группу продаж',
  'Кнопка 2 - Прослушал Главное Меню',
  'Кнопка 2 - Прослушал автоинформатор'),
 ('КОЛИЧЕСТВО ВЫЗОВОВ',
  'Unnamed: 3_level_1',
  'Unnamed: 3_level_2',
  'Unnamed: 3_level_3',
  'Unnamed: 3_level_4'),
 ('ПРОЦЕНТ', nan, nan, nan, nan)]

In [209]:
agg_df.reindex_like(df_o)

                 МЕТРИКА                                            \
  Прослушал Главное меню
      Unnamed: 0_level_2 Кнопка 1 - Распределился на группу продаж
      Unnamed: 0_level_3         Кнопка 2 - Прослушал Главное Меню
      Unnamed: 0_level_4                        Unnamed: 1_level_4
0                    NaN                                       NaN
1                    NaN                                       NaN
2                    NaN                                       NaN
3                    NaN                                       NaN
4                    NaN                                       NaN
5                    NaN                                       NaN
6                    NaN                                       NaN
7                    NaN                                       NaN
8                    NaN                                       NaN

                                      КОЛИЧЕСТВО ВЫЗОВОВ ПРОЦЕНТ
                                      Unnamed: 3_level_1     NaN
                                      Unnamed: 3_level_2     NaN
                                      Unnamed: 3_level_3     NaN
  Кнопка 2 - Прослушал автоинформатор Unnamed: 3_level_4     NaN
0                                 NaN                NaN     NaN
1                                 NaN                NaN     NaN
2                                 NaN                NaN     NaN
3                                 NaN                NaN     NaN
4                                 NaN                NaN     NaN
5                                 NaN                NaN     NaN
6                                 NaN                NaN     NaN
7                                 NaN                NaN     NaN
8                                 NaN                NaN     NaN

In [102]:
pd.DataFrame(agg_df.T,columns=df_o.columns)

                                  МЕТРИКА  \
                   Прослушал Главное меню
                       Unnamed: 0_level_2
                       Unnamed: 0_level_3
                       Unnamed: 0_level_4
Количество вызовов                    NaN
ПРОЦЕНТ                               NaN

                                                              \

                   Кнопка 1 - Распределился на группу продаж
                           Кнопка 2 - Прослушал Главное Меню
                                          Unnamed: 1_level_4
Количество вызовов                                       NaN
ПРОЦЕНТ                                                  NaN

                                                       КОЛИЧЕСТВО ВЫЗОВОВ  \
                                                       Unnamed: 3_level_1
                                                       Unnamed: 3_level_2
                                                       Unnamed: 3_level_3
                   Кнопка 2 - Прослушал автоинформатор Unnamed: 3_level_4
Количество вызовов                                 NaN                NaN
ПРОЦЕНТ                                            NaN                NaN

                   ПРОЦЕНТ
                       NaN
                       NaN
                       NaN
                       NaN
Количество вызовов     NaN
ПРОЦЕНТ                NaN