In [346]:
%reset

In [347]:
import pandas as pd
import numpy as np

In [348]:
df=pd.read_csv("world_countries.csv")
df.head(10)

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,0,"23,06",700.0,36,"3,2","46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"1,26","-4,93",4500.0,"86,5","71,2","15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"0,04","-0,39",6000.0,70,"78,1","17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"58,29","-20,71",8000.0,97,"259,5","22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,0,"6,6",19000.0,100,"497,2","8,71","6,25",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"0,13",0,1900.0,42,"7,8","45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"59,8","10,76",8600.0,95,460,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"34,54","-6,15",11000.0,89,"549,9","16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"0,18","0,61",11200.0,"97,1","220,4","16,73","7,55","0,095","0,358","0,547"
9,Armenia,C.W. OF IND. STATES,2976372,29800,0,"-6,47",3500.0,"98,6","195,7","12,07","8,23","0,239","0,343","0,418"

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          227 non-null    object
 1   region           227 non-null    object
 2   population       227 non-null    int64
 3   area             227 non-null    int64
 4   coastline        227 non-null    object
 5   net migration    224 non-null    object
 6   GDP              226 non-null    float64
 7   literacy         209 non-null    object
 8   phones_per_1000  223 non-null    object
 9   birthrate        224 non-null    object
 10  deathrate        223 non-null    object
 11  agriculture      212 non-null    object
 12  industry         211 non-null    object
 13  service          212 non-null    object
dtypes: float64(1), int64(2), object(11)
memory usage: 25.0+ KB

In [350]:
df.columns

Index(['country', 'region', 'population', 'area', 'coastline', 'net migration',
       'GDP', 'literacy', 'phones_per_1000', 'birthrate', 'deathrate',
       'agriculture', 'industry', 'service'],
      dtype='object')

In [351]:
df[(df['population']==df['population'].max())]

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"0,15","-0,4",5000.0,"90,9","266,7","13,25","6,97","0,125","0,473","0,403"

In [352]:
df[(df['population']==df['population'].min())]

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,"49,59","-4,86",6900.0,99,"683,2","13,52","6,83",NaN,NaN,NaN

In [353]:
"""1.1) Страны с минимальной и максимальной плотностью и их плотность"""
df[(df['population']==df['population'].max())|(df['population']==df['population'].min())][['country','population']]

                   country  population
42                  China   1313973713
174  St Pierre & Miquelon         7026

In [354]:
"""1.2)Число стран бе береговой линии"""
df['coastline']=df['coastline'].apply(lambda x: float(x.replace(",",'.')))

prc=100*(len(df[df['coastline']<=0]['country'].unique())/len(df['country'].unique()))
print(f'Процент стран без береговой линии = {round(prc,2)}%')

Процент стран без береговой линии = 19.38%

In [355]:
"""1.3)Регион, где меньше всего людей владеют телефонами
 (phones_per_1000 - количество людей, владеющих телефонами, на 1000 человек)"""
#заполняем нанки средним значением
mn_phones_per_1000=df['phones_per_1000'].fillna(str(0)).apply(lambda x: float(x.replace(",",'.'))).mean()
df['phones_per_1000']=df['phones_per_1000'].fillna(str(mn_phones_per_1000)).apply(lambda x: float(x.replace(",",'.')))
df[df['phones_per_1000']==df['phones_per_1000'].min()][['region','phones_per_1000']]

                                 region  phones_per_1000
45  SUB-SAHARAN AFRICA                               0.2

In [356]:
"""1.4)Список стран, у которых отсутствует показатель грамотности (literacy),
и при этом численность населения страны (population) более 1млн человек"""
df[(df['literacy'].isna()==True)&(df['population'][df['population']>=10**6])][['country','population','literacy']]

        country  population literacy
74  Gaza Strip      1428757      NaN

In [357]:
"""1.5)Топ 5 стран с самым низким показателем рождаемости (birthrate)
по отношению к показателю смертности (deathrate)"""

mn_birthrate=df['birthrate'].fillna(str(0)).apply(lambda x: float(x.replace(",",'.'))).mean()
df['birthrate']=df['birthrate'].fillna(str(mn_birthrate)).apply(lambda x: float(x.replace(",",'.')))

mn_deathrate=df['deathrate'].fillna(str(0)).apply(lambda x: float(x.replace(",",'.'))).mean()
df['deathrate']=df['deathrate'].fillna(str(mn_deathrate)).apply(lambda x: float(x.replace(",",'.')))


df[df['birthrate']<df['deathrate']][['country','birthrate','deathrate']].sort_values(by = 'birthrate').head(5)

        country  birthrate  deathrate
76     Germany        8.25      10.62
101      Italy        8.72      10.40
12     Austria        8.74       9.76
120  Lithuania        8.75      10.98
85    Guernsey        8.81      10.01

In [343]:
"""1.6)Страны, в которых преобладает сельское хозяйство (agriculture) над промышленностью (industry)
 и сферой обслуживания (service) и при этом средний показатель миграции (net migration) по региону
  положительный"""
mn_net_migration=df['net migration'].fillna(str(0)).apply(lambda x: float(x.replace(",",'.'))).mean()
df['net migration']=df['net migration'].fillna(str(mn_net_migration)).apply(lambda x: float(x.replace(",",'.')))

df[['country','agriculture','industry','service','net migration']][(df['agriculture']>df['industry'])&
                                                   (df['agriculture']>df['service'])&(df['net migration']>=0)]